* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* :root { */
  /* --blue: blue; */
  /* --darkBlue: #000080; */
  /* --black: #000; */
  /* --white: #fff; */
/* } */
/*  */
/*  */
/*  */
/*  */
/* back white */
/* .backround { */
  /* color: black; */
  /* height: 400vh; */
/* } */
/*  */
/* max widht */
/* .max-width { */
  /* max-width: 1300px; */
  /* margin: auto; */
/* } */
/*  */
/* Display */
/* .display { */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
/* } */
/*  */
/* .color{ */
  /* color: rgb(255, 132, 0); */
/* } */
/*  */
/*  */
 /* gap */
/* .gap-10 { */
  /* gap: 10px; */
/* } */
/*  */
/* .gap-20 { */
  /* gap: 20px; */
/* } */
/*  */
/* .gap-50 { */
  /* gap: 50px; */
/* } */
/* .gap-70 { */
  /* gap: 70px; */
/* } */
/* .gap-100 { */
  /* gap: 100px; */
/* } */
/*  */
/*  */
/* li, */
/* .bx, */
/* button { */
  /* cursor: pointer; */
/* } */
/*  */
/* ? Font Size */
/*  */
/* .font-size18 { */
  /* font-size: 18px; */
/* } */
/*  */
/* .font-size20 { */
  /* font-size: 20px; */
/* } */
/*  */
/* .font-size25 { */
  /* font-size: 25px; */
/* } */
/*  */
/* .font-size30 { */
  /* font-size: 30px; */
/* } */
/*  */
/* .font-size40 { */
  /* font-size: 40px; */
/* } */
/*  */
/* .font-size50 { */
  /* font-size: 50px; */
/* } */
/*  */
/* .font-size65 { */
  /* font-size: 65px; */
/* } */
/*  */
/* font weight */
/* .font-weight400 { */
  /* font-weight: 400px; */
/* } */
/*  */
/* .font-weight500 { */
  /* font-weight: 500px; */
/* } */
/*  */
/* .font-weight600 { */
  /* font-weight: 600px; */
/* } */
/*  */
/* .font-weight700 { */
  /* font-weight: 700px; */
/* } */
/*  */
/* .font-weight800 { */
  /* font-weight: 800px; */
/* } */
/*  */
/* .font-weight900 { */
  /* font-weight: 900px; */
/* } */
/* .button-1{ */
  /* background-color: rgb(255, 132, 0); */
  /* color: var(--white); */
  /* padding: 5px 20px; */
  /* border-radius: 5px; */
  /* border: none; */
  /* font-size: 18px; */
/* } */
/* .button-2{ */
  /* background-color: rgb(255, 132, 0); */
  /* color: var(--white); */
  /* padding: 5px 30px; */
  /* border-radius: 5px; */
  /* border: none; */
  /* font-size: 18px; */
/*  */
/* } */
/* li { */
  /* list-style: none; */
/* } */
/* .page-1{ */
  /* margin-top: 100px; */
/* } */
/* .text{ */
  /* margin-top: 100px; */
  /* text-align: center; */
/* } */
/* .boxlar{ */
  /* margin-top: 70px; */
/* } */
/* .box-1{ */
  /* border: 1px solid black; */
  /* width: 300px; */
  /* padding: 40px 20px; */
  /* border-radius: 10px; */
/* } */
/* .page-2{ */
  /* background-color: rgb(255, 182, 80); */
  /*  */
  /* margin-top: 100px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* gap: 150px; */
/* } */
/* .tajriba-1{ */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
/* } */
/* .raqam > h1{ */
  /* border: 1px solid black; */
  /* width: 50px; */
  /* border-radius: 50%; */
  /* height: 50%; */
  /* text-align: center; */
/* } */
/* .buttonlar{ */
  /* margin-top: 50px; */
  /* display: flex; */
  /* align-items: center; */
  /* gap: 70px; */
/* } */
/* .button-3{ */
  /* padding: 7px 40px; */
  /* background-color: rgb(255, 132, 0); */
  /* color: var(--white); */
  /* border: none; */
  /* border-radius: 10px; */
/* } */
/* .button-4{ */
  /* padding: 7px 40px; */
  /* background-color: white; */
  /* color: #000; */
  /* border: 1px solid rgb(255, 132, 0); */
  /* border-radius: 10px; */
/* } */
/* .page-3{ */
  /* margin-top: 200px;  */
/* } */
/* .page-3-img > img{ */
  /* width: 500px; */
  /* height: 100%;  */
/* } */


.none{
  display: none;
}
