*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 60px;
    padding: 40px;
    border: none;
    box-shadow: 1px 4px 26px 7px rgba(34, 60, 80, 0.2);
}

.name{
    font-size: 20px;
}
.name{
    margin-top: 50px;
    font-size: 20px;
}
.name{
    margin-top: 50px;
    font-size: 20px;
}
.name_1{
    text-align: left;
    padding: 15px 49px;
}
.name_2{
    padding: 15px 49px;
}
.name_3{
    padding: 15px 49px;
}
.name_4{
    padding: 15px 49px;
}
button{
    padding: 15px 40px;
    background-color: rgb(103, 103, 245);
    color: white;
    border: none;
    border-radius: 10px;
}
.name_1:focus{
    border: 1px solid blue;
    outline: blue;
}
.name_2:focus{
    border: 1px solid blue;
    outline: blue;
}
.name_3:focus{
    border: 1px solid blue;
    outline: blue;
}
.reg{
    text-align: center;
}
a{
    text-decoration: none;
}
button:hover{
    background-color: rgb(60, 60, 193);
}