.teacher1 {
    position: relative;
    left: 250px;
    right: 0px;
    width: calc(100% - 250px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login {
    position: absolute;
    /* top: 50px; */
    /* left: 420px; */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    
    width: 400px;
    /* height: 350px; */
    padding: 20px;
    /* box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.2); */
    border: 1.5px solid var(--primary-color);
}

.teacher1>h1 {
    text-align: center;
    margin-bottom: 50px;
}

.login > h2{
    margin-bottom: 30px;
}
label {
    font-size: 18px;
}

input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    padding: 5px;
}

.login-button {
    width: 100%;
    margin-top: 20px;
    padding: 5px 15px;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-400);
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-button:hover {
    background-color: var(--primary-color-hover);
    transform: scale(1.02);
}