.teacher1{
   position: relative;
    margin-left: 250px;
    margin-top: 70px;
    padding: 20px;
}

.login{
    position: relative;
    top: 50px;
    left: 420px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 350px;
    padding: 20px;
     box-shadow: 0px 1px 12px 1px rgba(34, 60, 80, 0.2);
   border: none;
}
.teacher1>h1{
    text-align: center;
    margin-bottom: 20px;
}
label{
    font-size: 18px;
}
input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    padding: 5px;
}
.login-button{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.login-button:hover{
    background-color: var(--primary-color-hover);
    transform: scale(1.02);
}