* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #333;
}
.home,
.section,
.dashboard,
.login,
.users,
.note-found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0670f2;
  color: white;
}

.form {
  padding: 20px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  line-height: 32px;
  text-align: center;
}
.form input {
  padding: 7px 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 100%;
  border: 2px solid #0670f2;
}

.form input:focus {
  border: 2px solid #0622f2;
}

.form button {
  width: 100%;
  padding: 7px 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #0670f2;
  cursor: pointer;
}
