.task-two .tasktwo-question ul {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-top: 10px;
}

.task-two .tasktwo-question {
    display: inline-block;
    margin: 0px 50px;
}
.task-two.tasks-question ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.tasks-question ul li {
    transition: all .2s ease-in-out;
    font-size: var(--font-size-20);
    padding: 5px;
}

.tasks-question ul li:hover {
    color: #3498db;
}

.tasktwo-btn{
  padding: 5px 10px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    margin-top: 20px;
    margin-left: 350px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.tasktwo-btn:hover{
    transform: scaleX(1.04);
}
.tasktwo-question ul{
 margin-left: 20px;    
}
.tasktwo-question ul li{
    padding-top: 5px;
    
}