header {
   position: fixed;
   top: 0px;
   left: 250px;
   right: 0px;
   height: 60px;
   z-index: 998;
   padding: 5px 15px;
   align-items: center;
   background-color: var(--color-white);
   color: var(--color-black);
   box-shadow: 0 4px 8px rgba(203, 194, 194, 0.2);

 
   
}

button,input {
   outline: none;

}
.header-btn {
   padding: 6px 30px;
   background-color: var(--primary-color-hover);
   color: var(--color-white);
   border: none;
   border-radius: 5px;
   font-size: var(--font-size-18);
   font-weight: var(--font-weight-600);
   cursor: pointer;
   transition: all .3s ease;
}

.header-btn:hover {
   color: var(--color-white);
   cursor: pointer;
   transition: 0.3s;
   transform: scale(1.05);

}


.admin {
   gap: 10px;
   align-items: center;
}

img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
}