
.color{
   color: var(--blue);
}

.page-1{
   margin-top: 135px;
   position: absolute;
    top: 0;
    left:400px
}
.left-text > h3{
    font-family: "Archivo Black", sans-serif;
  font-weight: 900;
  font-size: 30px;
}
.button-home{
    margin-top: 30px;
    justify-content: flex-start;
    gap: 50px;
}
.linklar-div{
    justify-content: flex-start;
    gap: 50px;
}
.button-1{
    margin-top: 30px;
    width: 200px;
    background-color: white;
    color: var(--blue);
    padding: 25px 55px;
    border-radius: 10px;
    border: var(--blue) 1px solid;
    font-size: 20px;
}
.button-1:hover{
    background-color: var(--blue);
    color: white;
    transition: all 0.2s ease-in-out;
}
.i-linklar{
    border: 1px solid var(--blue);
    border-radius: 50%;
    color: var(--blue);
    padding: 7px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.linklar{
    margin-top: 30px;
    gap: 20px;
  
}
.img-right > img{
    width: 300px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
   
}
.tajribalar{
    justify-content: flex-start;
    gap: 55px;
    margin-left: 0px;
    margin-top: 130px;
}
.yil{
    border: 1px solid var(--blue);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
} 
.raqam{
    color: var(--blue);
}



