.page-3{
    position: absolute;
     top: 1600px;
     left:340px
 }
 
 .reklama-buttonlar{
        position: absolute;
        top: 100px;
 }
 .reklama-left{
    position: absolute;
    top:0px;
    left: 50px;
   
 }
 .reklama-right{
   margin-left: 500px;
 }
 .box-1{
    border: 1px solid #2563eb;
    color: #2563eb;  
    padding: 20px 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
 }
 .box-1:hover{
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 92px -30px rgba(34, 60, 80, 0.2);
 }
 .box-2{
    border: 1px solid #2563eb;
    padding: 20px 30px;
    border-radius: 10px;
    transition: all 0.3s ease;  
 }
    .box-2:hover{
        background-color: #2563eb;
        color: white;
        cursor: pointer;
        box-shadow: 0px 0px 92px -30px rgba(34, 60, 80, 0.2);
    }
 .reklama-big-box{
   /*  display: none; */
 }
 .reklama-big-box-2{
    display: none;
 }
 .reklama-big-box-3{
    display: none;
 }
 .button-4{
   margin-top: 30px;
   width: 200px;
   background-color: white;
   color: var(--blue);
   padding: 25px 55px;
   border-radius: 10px;
   border: var(--blue) 1px solid;
   font-size: 20px;
}
.button-4:hover{
   background-color: var(--blue);
   color: white;
   transition: all 0.2s ease-in-out;
}
.button-5{
   margin-top: 30px;
   width: 200px;
   background-color: white;
   color: var(--blue);
   padding: 25px 55px;
   border-radius: 10px;
   border: var(--blue) 1px solid;
   font-size: 20px;
}
.button-5:hover{
   background-color: var(--blue);
   color: white;
   transition: all 0.2s ease-in-out;
}
.button-6{
   margin-top: 30px;
   width: 200px;
   background-color: white;
   color: var(--blue);
   padding: 25px 55px;
   border-radius: 10px;
   border: var(--blue) 1px solid;
   font-size: 20px;
}
.button-6:hover{
   background-color: var(--blue);
   color: white;
   transition: all 0.2s ease-in-out;
}