*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.font-size-60{
    font-size: 60px;
}
.font-size-20{
    font-size: 20px;
}
.max-width{
    max-width: 1300px;
    margin: auto;
}
header{
    margin-top: 30px;
}
.malumot{
    padding: 130px;
    margin-top: 50px;
    border: 1px solid #339dff;
    height: 500px;
    background-color: #339dff;
    border-radius: 20px;
}
.left-text{
    color: white;
}
.left-text > p {
    color: rgb(61, 61, 61);
}

.button-1{
    color: #339dff;
    background-color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 2px solid #339dff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-1:hover{
    background-color: #339dff;
    color: white;
}
.buttonlar{
    justify-content: flex-start;
    gap: 30px;
    margin-top: 50px;
}
.button-2{
    
    border: none;
    border-radius: 20px;
    background-color: whitessss;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 15px 35px;
}
.button-2:hover{
    transform: scale(1.1);
}
.button-3{
    background-color: #339dff;
    color: #339dff;
    padding: 15px 35px;
    border-radius: 10px;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button-3:hover{
    transform: scale(1.05);
}
.mohir{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.mohir > img{
    width: 70px;
}