 .twobook2{

   position: relative;
      left: 400px;
      top: 100px;
      padding: 25px;
      border: 30px solid var(--color-white);
      background: var(--color-white);
      color: var(--color-black);
      border-radius: 15px;
      width: 80%;
      height: 550px;
      overflow: auto;
      /* scroll bor, lekin yashiramiz */
      max-width: 1000px;
      box-shadow: 0px 1px 12px 1px rgba(34, 60, 80, 0.2);
      font-size: 17px;
      /* Scroll barni yashirish */
      scrollbar-width: none;
      /* Firefox */
  }
  
  
  
  /* Chrome, Safari, Edge */

.twobook2::-webkit-scrollbar {
    display: none;
}

.twobook2-question {
    margin-top: 30px;
    line-height: 40px;
}

.twobook2-question  h2 {
    margin-bottom: 30px !important;
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-600);
    max-width: 900px;
    margin: auto;
}

.twobook2-question h4{
    font-weight: 300;
    font-style: oblique;
  }



