.home1 {
    position: relative;
    left: 250px;
    right: 0px;
    width: calc(100% - 250px);
    height: 100vh;
    /* background-image: linear-gradient(to bottom right, white, #04133a); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text {
    /* border: 1.3px solid #04133a; */
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.639);
    border-radius: 10px;
    text-align: center;
    margin: 50px;
    font-size: 20px;
    color: var(--color-black);
    background: var(--color-white);
    padding: 30px;
}