.home1{
    position: relative;
    margin-left: 250px;
    margin-top: 70px;
    padding: 20px;
}
.home-text{
 text-align: center;
    margin: 50px;
    font-size: 20px;
    color: var(--color-black);
    background: var(--color-white);
    padding: 30px;  
}


