/* !taskone1ga tegishli */
.taskone1-question h2 {
    text-align: center;
    margin-bottom: 30px !important;
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-500);
    max-width: 700px;
    margin: auto;
}
.taskone1-card li{
  list-style: none;
}
.taskone1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.taskone1-question ul li {
    transition: all .2s ease-in-out;
    font-size: var(--font-size-20);
    padding: 5px;
}

.taskone1-question ul li:hover {
    color: #3498db;
}
.answer-1 h3{
    line-height: 60px;
    font-weight: var(--font-weight-500);
}
.taskone1-question h1{
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-600);
}

.taskone1-btn{
  padding: 5px 10px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    margin-top: 30px;
    margin-left: 350px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.taskone1-btn:hover{
    transform: scaleX(1.04);
}

.taskone1-input{
    width: 200px;
    font-size: var(--font-size-20);
}