.tasktone-btn{
  padding: 5px 10px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    margin-top: 20px;
    margin-left: 350px;
    border-radius: 5px;
    cursor: pointer;
}

.taskone-btn:hover{
    transform: scaleX(1.04);
}
.taskone-card li{
  list-style: none;
}