/* style.css */

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
   

}

h1 {
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}