.taskthree3-question .jadval{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start !important;
}
.taskthree3-question .jadval h2{
    text-align: left;
    font-weight: 300;
    font-style: oblique;
}

.taskthree3-question h1 {
   
    margin-bottom: 30px !important;
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-500);
    max-width: 700px;
    margin: auto;
}


.taskthree3-question ul{
    
    margin-left: 50px;
}
.taskthree3-question ul li {
    transition: all .2s ease-in-out;
    font-size: var(--font-size-20);
    padding: 5px;
}
.taskone3-input{
    width: 800px;
    height: 300px;
    border: 1px solid var(--primary-color);
    border: none;
    box-shadow: 0px 1px 12px 1px rgba(34, 60, 80, 0.2);
    margin-top: 20px;
    outline: none;
    font-size: var(--font-size-18);
    margin-left: 40px;
    scrollbar-width: none;   
    border-radius: 10px;
    padding: 30px;
}
.taskone3-input::-webkit-scrollbar {
    display: none;
}
.taskthree3-btn{
  padding: 5px 10px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    margin-top: 30px;
    margin-left: 350px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
/* .taskthree3-btn:hover{ */
    /* transform: scaleX(1.04); */
/* } */
