.taskfive-btn{
  padding: 5px 10px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    margin-top: 20px;
    margin-left: 350px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.taskfive-btn:hover{
    transform: scaleX(1.04);
}
.taskfive-question h2 {
    text-align: center;
    margin-bottom: 30px !important;
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-500);
    max-width: 700px;
    margin: auto;
}
.taskfive-card li{
  list-style: none;
}
.taskfive ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.taskfive-question ul li {
    transition: all .2s ease-in-out;
    font-size: var(--font-size-20);
    padding: 5px;
}

.taskfive-question ul li:hover {
    color: #3498db;
}