/* div{
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black; */
    /* tepa va past */
    /* transform: translate(50px,100px); */
    /* Qiyshayish */
    /* transform: rotate(20deg); */
    /* katta kichikligi */
    /* transform: scale(1,3); */
    /* x va y boyicha chozilish */
    /* transform: scaleX(2);
    transform: scaleY(2); */
    /* x ning yassi qiyshayishi */
    /* transform: skew(20deg); */
    /* Transitionlar */
    /* transition: width 2s,height 4s; 
}
div:hover{
    width: 300px;
    height: 300px;
} */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.display_2{
    display: flex;
    align-items: center;
    
    gap: 30px;
}
.display_3{
    display: flex;
    align-items: center;
    
    gap: 100px;
}

.max-width{
    max-width: 1300px;
    margin: auto;
}
ul{
    list-style: none;
}
.logo:hover{
    transform: scale(2,2);
    cursor: pointer;
    transition: all 2s ease;
}

li:hover{
    color: red;
    transform: rotate(20deg); 
    transition: all 1s ease;
}
button{
    transform: rotate(20deg);
    padding: 10px 20px;
    transition: all 2s ease;
}
button:hover{
    transform: rotate(0deg);
}
.box-1{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    transition: all 2s ease;
    
}
.box-1:hover{
    transform: skew(20deg);
}
.box-2{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    transition: all 2s ease;
}
.box-2:hover{
    transform: rotate(180deg);
}
.box-3{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    transition: all 2s ease;
}
.box-3:hover{
    transform: scale(1.3);
}
.box-4{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    transition: all 2s ease;
}
.box-4:hover{
    transform: scale(1.3);
    transform: rotate(180deg);
    width: 200px;
    height: 200px;
}
.salom{
    transform: rotate(180deg);
    border: 1px solid black;
    border: none;
    text-align: center;
}
h2{
    transition: all 2s ease;
}
h2:hover{
    transform: scale(1.3);
}
p{
    transition: all 2s;
}
p:hover{
    transform: rotate(180deg);
}
.buttonlar{
    margin-top: 50px;
}
.button-1:hover{
    transform: rotate(90deg);
}
.button-2:hover{
    transform: rotate(90deg);
}
