 
 .book{
    position: relative;
    left: 250px;
    right: 0px;
    width: calc(100% - 250px);
    height: 100vh;
    /* background-image: linear-gradient(to bottom right, white, #04133a); */
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .arrowBottom{
    background-color: #04133a;
    color: var(--color-white);
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 11%;
    right: 5.5%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

 }

 .book-card{

    margin-top: 5%;
      padding: 25px;
      border: 30px solid var(--color-white);
      background: var(--color-white);
      color: var(--color-black);
      border-radius: 15px;
      width: 85%;
      height: 600px;
      overflow: auto;
      box-shadow: 0px 1px 12px 1px rgba(34, 60, 80, 0.2);
      font-size: 17px;
      scrollbar-width: none;
  }
  
  .book h3{
    font-weight: 300;
    font-style: oblique;
  }
  
  /* Chrome, Safari, Edge */

.book::-webkit-scrollbar {
    display: none;
}

.book-question {
    margin-top: 30px;
}
.book-question h3{
    line-height: 40px;
}
.book-question> h4, h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.book-question h3 {
    text-align: center;
}





