*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* back white */
.bac{
    color: black;
    height: 220vh;
}
/* max widht */
.max-width{
    max-width: 1300px;
    margin: auto;
}
.max-width_2{
    max-width: 1200px;
    margin: auto;
}
.max-width_3{
    max-width: 1400px;
    margin: auto;
}
/* Display */
.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Ranglar */
.backround-color{
    /* background-color: ; */
}
.color{
    color: orange;
}
li,.bx,button{
    cursor: pointer;
}
/* box-shadow */
.box-shadow{
    /* box-shadow: ; */
}
/* Font Size */
.font-size18{
    font-size: 18px;
}

.font-size30{
    font-size: 30px;
}
.font-size40{
    font-size: 40px;
}
.font-size50{
    font-size: 50px;
}
.font-size65{
    font-size: 65px;
}
/* font weight */
.font-weight500{
    font-weight: 500px;
}
.font-weight600{
    font-weight: 600px;
}
.font-weight700{
    font-weight: 700px;
}
.font-weight800{
    font-weight: 800px;
}
.font-weight900{
    font-weight: 900px;
}
header{
    background-color: white;
   
    box-shadow: 0px 3px 6px 0px rgba(34, 60, 80, 0.2);
    padding: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}
ul{
    list-style: none;
    gap: 45px;
}
.header-icon{
    gap: 15px;
}
.page_1{
    margin-top: 120px;

}
.button_1{
    padding: 10px 35px;
}
.button_2{
    padding: 10px 35px;
}
.page_2{
    margin-top: 100px;
}
.qator-1-box{   
    gap: 40px;
    justify-content: center;

}
.box-1{
    border: 1px solid gray;
    width: 320px;
    padding: 10px;
    cursor: pointer;
}
.box-1 > img {
    padding-left: 160px
}
.right_img{
    z-index: 10;
}
.box-1 .left_texxt > p {
    text-decoration: underline;
}
.box-2{
    border: 1px solid gray;
    width: 320px;
    height: 215px;
    padding: 10px;
    cursor: pointer;
}
.box-2 > img {
    padding-left: 140px
}
.box-2 .left_texxt > p {
    text-decoration: underline;
}
.box-2 .left_texxt{
    margin-top: 40px;
}
.box-3{
    border: 1px solid gray;
    width: 320px;
    padding: 10px;
    cursor: pointer;
}
.box-3 > img {
    padding-left: 160px;
}
.box-3 .left_texxt > p {
    text-decoration: underline;
}
.box-4{
    border: 1px solid gray;
    width: 320px;
    padding: 10px;
    cursor: pointer;
}
.box-4 > img {
    padding-left: 193px
}
.box-4 .left_texxt > p {
    text-decoration: underline;
}
.page_3{
    margin-top: 100px;
}
.Collection{
    text-align: center;
}
.qator-1{
    margin-top: 50px;
}
.box_1{
    border: 1px solid gray;
    width: 240px;
    height: 240px;
    padding: 60px;
}
.sanalar{
    gap: 2px;
 
}
.box_2{
    border: 1px solid gray;
    width: 240px;
    height: 240px;
    text-align: center;
    padding-top: 30px;
}
.box_3{
    border: 1px solid gray;
    width: 240px;
    height: 240px;
    padding: 60px;
}
.box_4{
    border: 1px solid gray;
    width: 240px;
    height: 240px;
    padding: 60px;
}
.qator_2 {
    margin-top: 70px;
}
.box_5{
    border: 1px solid gray;
    width: 240px;
    height: 240px;
    padding: 60px;
}
.box_6{
    border: 1px solid gray;
    width: 240px;
    height: 240px;
    padding: 60px;
}
.box_7{
    border: 1px solid gray;
    width: 240px;
    height: 240px;
    padding: 60px;
}
.box_8{
    border: 1px solid gray;
    width: 240px;
    height: 240px;
    padding: 60px;
}
.qidiruv{
    padding: 10px 20px;
    display: none;
}