.page-5{
    position: absolute;
    top: 2100px;
    left: 400px;
}
.linear-1{
    width: 80px;
    height: 5px;
    background-color: var(--blue);
}
 .linear{
    width: 150px;
    height: 15px;
    background-color: var(--blue);
}

.seven{
    transform: rotate(0deg);
    position: absolute;
    top: 50px;
}
.eight{
    transform: rotate(0deg);
    position: absolute;
   top: 70px;
}
.question{
   
    text-align: center;
}
.joylashuvlar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    margin-top: 70px;
}

.call > li {
    margin-left: 20px;
}
.call{
    border: 1px solid #2563eb;
    padding: 20px 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: #2563eb;
}
.call:hover {
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    box-shadow: 0px 1px 27px -2px rgba(34, 60, 80, 0.2);
    transform: scale(1.05);
}
.input-text{
    text-align: center;
    margin-top: 70px;
}
.input-ism{
    margin-top: 40px;
    padding: 15px 170px;
    border-radius: 30px;














































































    
  
}
.input-email{
    margin-top: 40px;
    padding: 15px 170px;
    border-radius: 30px;
}
.input-subject{  
    position: absolute;
    left: 1px;
    margin-top: 20px;
    padding: 15px 433px;
    border-radius: 30px;
}
.input-message{
    position: absolute;
    left: 1px;
    margin-top: 50px;
    padding: 50px 435px;
    border-radius: 30px;
}
.input-button{
    position: absolute;
    left: 1px;
    margin-top: 320px;
}