* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --blue: blue;
    --darkBlue: #000080;
    --black: #000;
    --white: #fff;
}




/* back white */
.background {
    color: black;
    height: 150vh;
}

/* max widht */
.max-width {
    max-width: 1400px;
    margin: auto;
}

/* Display */
.display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  gap */
.gap-10 {
    gap: 10px;
}

.gap-20 {

    gap: 20px;
}

.gap-30 {

    gap: 30px;
}
.gap-50 {
    gap: 50px;
}



li,
.bx,
button {
    cursor: pointer;
}

/* ? Font Size */

.font-size18 {
    font-size: 18px;
}

.font-size20 {
    font-size: 20px;
}

.font-size25 {
    font-size: 25px;
}

.font-size30 {
    font-size: 30px;
}

.font-size40 {
    font-size: 40px;
}

.font-size50 {
    font-size: 50px;
}

.font-size65 {
    font-size: 65px;
}

/* font weight */
.font-weight400 {
    font-weight: 400px;
}

.font-weight500 {
    font-weight: 500px;
}

.font-weight600 {
    font-weight: 600px;
}

.font-weight700 {
    font-weight: 700px;
}

.font-weight800 {
    font-weight: 800px;
}

.font-weight900 {
    font-weight: 900px;
}

.left-location {
    justify-content: center;
}

input{
    padding: 9px 300px;
    border-radius: 30px;
    padding-left: 10px;
}
.inputlar{

}
.img > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-left: 40px;
}
.page-1{
    margin-top: 30px;
    border: 1px solid black;
    width: 400px;
    padding: 15px;
    border-radius: 10px;
}
.categories{
    margin-top: 50px;
    justify-content: center;
    gap: 50px;
    
}
.rectangle{
    border: 1px solid #000;
   border-radius: 2px;
    padding: 8px;
    width: 15px;
}
.res{
  display: flex;
  align-items: center;
  gap: 20px;
}
.foiz{
    width: 100px;
}
.foiz-raqami{
    display: flex;
    align-items: center;
    gap: 300px;
}
.price-1{
    border: 1px solid black;
    width: 320px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
.money{
    border-radius: 10px;
    width: 10%;
    background-color: rgb(203, 197, 197);
}
.price-1 > p {
    border-radius: 10px;
    padding-left: 20px;
    padding: 5px;
}
.price-2{
    border: 1px solid black;
    width: 320px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
.price-2 > p {
    padding-left: 20px;
    padding: 5px;
}    
.under{
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    width: 320px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.jami{
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    width: 320px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}



































/* header>ul { */
/* list-style: none; */
/* gap: 70px; */
/* } */

/* ! tayyor input css */
/* form{ */
/* width: 450px; */
/* height: 450px; */
/* border-radius: 10px; */
/* } */
/* input{ */
/* width: 100%; */
/* outline: none; */
/* } */
/*  */
/*  */
/* .modal { */
/* position: fixed; */
/* top: 50%; */
/* left: 50%; */
/* transform: translate(-50%, -50%); */
/* background-color: white; */
/* padding: 30px; */
/* border-radius: 10px; */
/* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
/* z-index: 1000; */
/* width: 90%; */
/* max-width: 500px; */
/* display: none; */
/* } */
/*  */
/* .modal-content { */
/* display: flex; */
/* flex-direction: column; */
/* gap: 15px; */
/* position: relative; */
/* } */
/*  */
/* .close-btn { */
/* position: absolute; */
/* top: 10px; */
/* right: 10px; */
/* background: none; */
/* border: none; */
/* font-size: 24px; */
/* cursor: pointer; */
/* color: #666; */
/* } */
/*  */
/* .close-btn:hover { */
/* color: var(--black); */
/* } */
/*  */
/*  */
/* input, textarea { */
/* width: 100%; */
/* padding: 10px; */
/* margin-bottom: 15px; */
/* border: 1px solid #ccc; */
/* border-radius: 5px; */
/* font-size: 16px; */
/* } */
/*  */
/* textarea { */
/* min-height: 100px; */
/* outline: none; */
/* } */
/* .btn-1{ */
/* padding: 10px 20px; */
/* border-radius: 10px; */
/* border: none; */
/* background-color: #2563eb; */
/* } */