*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* back white */
.bac{
    height: 300vh;
    background: linear-gradient(to right, rgb(12, 48, 88),rgb(4, 31, 39),black
    );
    color: white;
}
/* max widht */
.max-width{
    max-width: 1300px;
    margin: auto;
}
/* Display */
.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Ranglar */
.backround-color{
    /* background-color: ; */
}
.color{
    color: rgb(59, 109, 209);
}
li,.bx,button{
    cursor: pointer;
}
/* box-shadow */
.box-shadow{
    /* box-shadow: ; */
}
/* Font Size */
.font-size18{
    font-size: 18px;
}
.font-size25{
    font-size: 25px;
}
.font-size30{
    font-size: 30px;
}
.font-size40{
    font-size: 40px;
}
.font-size50{
    font-size: 50px;
}
.font-size65{
    font-size: 65px;
}
/* font weight */
.font-weight500{
    font-weight: 500px;
}
.font-weight600{
    font-weight: 600px;
}
.font-weight700{
    font-weight: 700px;
}
.font-weight800{
    font-weight: 800px;
}
.font-weight900{
    font-weight: 900px;
}
header{
    position: fixed;
    top: 0px;
    right: 108px;
    left: 108px;
    background: linear-gradient(to right, rgb(12, 48, 88),rgb(4, 31, 39),black
    );
   padding: 20px;
}
.jennie > img{
    width: 40px;
}
ul{
    list-style: none; 
    gap: 35px;
}
li:hover{
    text-decoration: underline;
}
.header-button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
}
.left-text{
    margin-top: 150px;
}
.button_2{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
}
.footer-icon{
    justify-content: flex-start;
    gap: 60px;
}
.iconlar{
   gap: 20px;
}
.bx{
    border: 2px solid gray;
    padding: 5px;
    border-radius: 50%;
}
.right-img > img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    margin-top: 60px;
}
.footer{
    margin-top: 60px;
}
.footer-1{
    justify-content: flex-start;
}
.page-2{
    margin-top: 150px;
    margin-left: 100px;
    gap: 30px;
}
.left-img > img {
    width: 400px;
}
.boxlar{
    justify-content: center;
    gap: 60px;
}
.box-1{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
}
.box-2{
    border: 1px solid gray;
    width: 130px;
    padding: 20px;
    border-radius: 10px;
}
.box-3{
    border: 1px solid gray;
    width: 130px;
    padding: 20px;
    border-radius: 10px;
}
.page-3{
    margin-top: 150px;
}
.worklar{
    margin-top: 50px;
}
.work-1{
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}
.work-1 > img{
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.work-1 > a{
    color: aqua;
}
.work-2{
    border: 1px solid white;
    text-align: center;
    padding: 16px;

}
.work-2 > img{
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.work-2 > a{
    color: aqua;
    text-decoration: none;
    border: 1px solid aqua;
    padding: 2px 20px;
    margin-top: 160px;
}
.work-3{
    border: 1px solid white;
    text-align: center;
    padding: 16px;
}
.work-3 > img{
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.work-3 > a{
    color: aqua;
}