*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* back white */
.bac{
    height: 100vh;
    background: linear-gradient(to right, rgb(12, 48, 88),rgb(4, 31, 39),black
    );
    color: white;
}
/* max widht */
.max-width{
    max-width: 1300px;
    margin: auto;
}
/* Display */
.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Ranglar */
.backround-color{
    /* background-color: ; */
}
.color{
    color: rgb(59, 109, 209);
}
li,.bx,button{
    cursor: pointer;
}
/* box-shadow */
.box-shadow{
    /* box-shadow: ; */
}
/* Font Size */
.font-size18{
    font-size: 18px;
}
.font-size30{
    font-size: 30px;
}
.font-size40{
    font-size: 40px;
}
.font-size50{
    font-size: 50px;
}
.font-size65{
    font-size: 65px;
}
/* font weight */
.font-weight500{
    font-weight: 500px;
}
.font-weight600{
    font-weight: 600px;
}
.font-weight700{
    font-weight: 700px;
}
.font-weight800{
    font-weight: 800px;
}
.font-weight900{
    font-weight: 900px;
}
.jennie > img{
    width: 40px;
}
ul{
    list-style: none;
    gap: 35px;
}
li:hover{
    text-decoration: underline;
}
.header-button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
}
.left-text{
    margin-top: 150px;
}
