.slider-container {
  width: 300px;
  height: 400px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffffcc;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.arrow.left {
  left: -3px;
}

.arrow.right {
  right: -3px;
}
