*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.salom{
    background-color: rgb(181, 165, 165);
    color: black;
    font-size: 20px;   
    width: 400px;
    height: 400px;
    padding: 20px; 
    display: none;
}