.tasktwo2-question h1{
    font-weight: var(--font-weight-400);
}
.tasktwo2-question.answer-1, li, p{
    line-height: 50px;
   
  
}
.tasktwo2-btn{
  padding: 5px 10px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    margin-top: 30px;
    margin-left: 350px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.tasktwo2-btn:hover{
    transform: scaleX(1.04);
}

.task-two2 .tasks-question ul{
    list-style:decimal;
}
.tasktwo2-question h2 {
   
    margin-bottom: 30px !important;
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-500);
    max-width: 700px;
    margin: auto;
}
.tasktwo2-card li{
  list-style: none;
}
.taskone2-input{
    width: 200px;
    font-size: var(--font-size-18);
}

